:root {
  color-scheme: light dark;
  --text: rgba(0, 0, 0, 0.8);
  --border: rgba(255, 255, 255, 0.12);
  --btnText: #ccc;
}

html,
body {
  margin: 0;
  padding: 0;
  max-width: 360px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", system-ui, Arial,
    sans-serif;
  line-height: 1.2em;
  background: var(--bg);
  color: var(--text);
}

body {
  padding: 12px;
  box-sizing: border-box;
}

.card {
  background: #eee;
  border-radius: 12px;
  padding: 10px;
}

.row {
  display: flex;
  align-items: center;
  gap: 8px;
  flex-wrap: wrap;
}

.block {
  flex: 1;
  display: flex;
}

.flexCenter {
  display: flex;
  align-items: center;
  gap: 4px;
}

.flexColumn {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

textarea {
  width: 100%;
  box-sizing: border-box;
  margin-top: 8px;
  border-radius: 12px;
  padding: 10px;
  border: 1px solid var(--border);
  background: rgba(255, 255, 255, 0.04);
  color: var(--text);
  resize: vertical;
}

.output {
  white-space: pre-wrap;
  word-break: break-word;
  font-size: 12px;
  border-radius: 16px;
  padding: 12px;
  border: 1px solid var(--border);
  background: #f3f3f3;
}

#think {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 32px;
  overflow-y: scroll;
  color: #666;
}
.container {
  position: relative;
}

.fade-overlay {
  border-radius: 16px;

  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 56px;
  pointer-events: none;
  z-index: 10;

  background: linear-gradient(
    to bottom,
    rgba(243, 243, 243, 1) 0%,
    rgba(243, 243, 243, 0) 50%,
    rgba(243, 243, 243, 1) 100%
  );

  border: #eee solid 1px;
}

.status {
  font-size: 0.7em;
  color: #333;
  font-weight: 600;
}

.link {
  text-decoration: none;
  font-size: 0.7em;
  color: #999;
  text-decoration: underline;
}

.center {
  margin: 0 auto;
}

progress {
  width: 80px;
  height: 2px;
}
